{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Recap{% endblock %}
    {% block header %} Recap {% endblock %}
{% block body %}


    <div class="well">
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/louvreticket/js/recap.js') }}"></script>
{% endblock %}
